In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
data = pd.read_csv("unmon_standard10_dataset.csv")

In [4]:
data = data[['Direction_Size_Sequence']]

In [5]:
data['Direction_Sequence'] = data['Direction_Size_Sequence'].apply(lambda x: [1 if i > 0 else -1 for i in eval(x)])

In [10]:
data['Label']=-1

In [7]:
def adjust_sequence_length(sequence, target_length=10000, padding_value=-1):
    if isinstance(sequence, (int, float, np.float32, np.float64)):
        sequence = [sequence]
    if len(sequence) < target_length:
        sequence = sequence + [padding_value] * (target_length - len(sequence))
    else:
        sequence = sequence[:target_length]
    return sequence

In [12]:
# Convert DataFrame column to NumPy array
sequence_array = data['Direction_Sequence'].to_numpy()

# Adjust sequence lengths
sequence_array = np.array([adjust_sequence_length(seq) for seq in sequence_array])

sequence_array.shape

(10000, 10000)

In [14]:
unmon_data = pd.DataFrame({
    'Direction_Sequence': list(sequence_array),
    'Label': data['Label'].values 
})

In [15]:
unmon_data.tail(400)

                                     Direction_Sequence  Label
9600  [-1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, 1, -1,...     -1
9601  [-1, -1, 1, -1, 1, -1, 1, -1, -1, -1, -1, -1, ...     -1
9602  [-1, -1, 1, -1, 1, -1, 1, -1, -1, 1, -1, 1, 1,...     -1
9603  [-1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, 1, -1,...     -1
9604  [-1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, 1, -1,...     -1
...                                                 ...    ...
9995  [-1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, 1, -1,...     -1
9996  [-1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, 1, -1,...     -1
9997  [-1, -1, 1, -1, 1, -1, 1, -1, -1, -1, -1, -1, ...     -1
9998  [-1, -1, 1, -1, 1, -1, 1, -1, -1, -1, -1, -1, ...     -1
9999  [-1, -1, 1, -1, 1, -1, 1, -1, 1, -1, 1, 1, -1,...     -1

[400 rows x 2 columns]

In [16]:
unmon_data.to_pickle("unmon_data.pkl")

print("Data processed and saved successfully.")

Data processed and saved successfully.

In [17]:
# padding 확인, 2525 대신 다른 데이터 넣어보기
len(unmon_data.loc[2525, 'Direction_Sequence'])

10000

In [19]:
label = unmon_data[unmon_data['Label']==0]
label.shape

(10000, 2)